In [1]:
#Pandas는 2차원 인덱싱(행인덱스, 열인덱스) 지원

In [2]:
#loc : 라벨값 기반의 2차원 인덱싱
#사용법 : df.loc[행 인덱싱값], df.loc[행 인덱싱값, 열 인덱싱값]
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                  index = ["a", "b", "c"],
                  columns = ["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [25]:
df.loc["a"] #series로 출력

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [7]:
df.loc["b":"c"] #slice

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df["b":"c"] #slice는 사실 loc안쓴 것과 같음

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [12]:
df.loc[["c", "b"]] #인덱스데이터의 리스트도 가능

    A   B   C   D
c  18  19  20  21
b  14  15  16  17

In [13]:
df.A > 15 # boolean series도 행을 선택하는 인덱스값 가능

a    False
b    False
c     True
Name: A, dtype: bool

In [14]:
df.loc[df.A > 15] # boolean series도 행을 선택하는 인덱스값 가능

    A   B   C   D
c  18  19  20  21

In [15]:
#instead of using index value, you can use function
def select_rows(df):
    return df.A > 15

In [16]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [17]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

In [20]:
#loc 인덱서가 없는 경우에 사용했던 라벨 인덱싱이나 라벨 리스트 인덱싱은 불가능하다.
# df.loc["A"] # key error
# df.loc[["A", "B"]] # key error

In [22]:
#원래 (행) 인덱스값이 정수인 경우에는 슬라이싱도 라벨 슬라이싱 방식을 따르게 된다. 즉, 슬라이스의 마지막 값이 포함된다.
df2 = pd.DataFrame(np.arange(10, 26).reshape(4,4), columns = ["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [23]:
df2.loc[1:2]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

In [29]:
# 인덱싱값을 행과 열 모두 받는 경우 #df.loc[행 인덱스, 열 인덱스]
df.loc["a","A"]

10

In [30]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [35]:
df.loc["a",:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [36]:
df.loc[["a","b"],["B","D"]]

    B   D
a  11  13
b  15  17

In [37]:
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

In [39]:
# iloc # iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받는다. 다른 사항은 loc 인덱서와 같다.

In [40]:
df.iloc[0,1]

11

In [42]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32

In [45]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [46]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [48]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [49]:
#연습 문제 1
df = pd.DataFrame(np.arange(10,35).reshape(5,5),
                  index = ["a", "b", "c", "d", "e"],
                  columns = ["A", "B", "C", "D", "E"])
df

    A   B   C   D   E
a  10  11  12  13  14
b  15  16  17  18  19
c  20  21  22  23  24
d  25  26  27  28  29
e  30  31  32  33  34

In [61]:
#10가지 이상의 방법으로 특정한 행과 열을 선택한다.
df.iloc[0:4,1:3]

    B   C
a  11  12
b  16  17
c  21  22
d  26  27

In [62]:
# at, iat 인덱서 # 1개의 스칼라 값을 뽑을 때만
%timeit df.loc["a","A"]

35 µs ± 4.78 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [63]:
%timeit df.at["a","A"]

12.4 µs ± 3.15 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [64]:
%timeit df.iloc[0, 0]

27.2 µs ± 1.36 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [65]:
%timeit df.iat[0, 0]

17.3 µs ± 1.27 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)